.Cards 
{ 

  padding-right: 10%; 
  padding-left: 10%;  
  padding-top: 10%;  
  padding-bottom: 10%;


}   
.C:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
 
.SearchBar 
{ 
  position: fixed; 
}   
.SearchBar:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

.App 
{ 
  background-color: rgb(230, 170, 131);
}
   
.Footer 
{ 
  text-align: center;
}
 
.Title 
{ 
  text-align: center; 
  text-shadow: khaki; 
  word-wrap: break-word;
}
